html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

/* toolbar styles */
/* ######################## */
.toolbar {
    height: 5%;
    background-color: rgb(34, 57, 122);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 1%;
}

.toolbarElem {
    display: flex;
}

.toolbar .toolbarElem h1 {
    font-size: 14px;
    color: wheat;
    font-family: monospace;
}

.clickable {
    cursor: pointer;
}

.clickable h1:hover {
    color: grey;
}

.separator {
}

#stopElem h1 {
    color: red;
}

#changeSizeText, #changeSpeedText {
    margin-right: 8px;
}

#sizeInput, #speedInput {
    appearance: none;
    width: 28%;
    cursor: pointer;
}
/* ##################### */



/* wrapper styles */
/* ##################### */
#wrapper {
    margin: auto;
    width: 60%;
    height: 90%;
    background-color: red;
    display: flex;
    justify-content: center;
}



/* ##################### */