html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to right, #9e3bbf, #0915f7);
}

#full-body-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

/* toolbar styles */
/* ######################## */
.toolbar {
    height: 5%;
    background-color: rgb(34, 57, 122);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 1%;
}

.toolbarElem {
    margin-left: 10px;
    display: flex;
}

.toolbarElem h1 {
    font-size: 14px;
    color: wheat;
    font-family: monospace;
}

.clickable {
    cursor: pointer;
}

.clickable h1:hover {
    color: grey;
}

#changeSizeText, #changeSpeedText {
    margin-right: 8px;
}

#sizeInput, #speedInput {
    appearance: none;
    width: 28%;
    cursor: pointer;
}

#stopSorting h1 {
    color: red;
}

input {
    position: relative;
    bottom: 5px;
}

/* ##################### */



/* wrapper styles */
/* ##################### */
#wrapper {
    margin: auto;
    width: 60%;
    height: 87%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-top: 1px;
}
/* ##################### */

.infoSoundDiv {
    float: right;
}

#soundDiv:hover {
    cursor: pointer;
}

.burger-icon img {
    display: none;
}

#full-wrapper {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
    }

    #wrapper {
        flex: 5;
        margin-left: -10px;
        width: 95%;
    }

    .burger-icon img{
        display: block;
        width: 15vw;
    }

    .toolbar{
        display: none;
    }

    #mobile-menu {
        display: flex;
        flex-direction: column;
        transition: transform 300ms ease-in-out;
    }

    .hidden-mobile-menu{
        transform: translate(-100%, 0);
    }

    .toolbarElem {
        display: flex;
        flex-direction: column;
    }

    #full-wrapper {
        flex: 1;
        overflow: hidden;
        display: block;
    }

    .toolbarElem h1 {
        font-size: 9px;
        width: 50%;
    }

    #sizeInput, #speedInput {
        width: 60%;
    }
}